# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
*.db

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
jr-atd-env
myvenv

#secret key
.config_secret

#editor
.vscode

# Mac Only
.DS_Store