{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <title>Jaram Academy Attendance System</title>
        <link rel="stylesheet" href="{% static 'css/404.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.webmanifest">
        <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <h1>404 Page Not Found</h1>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>

    </section>
    <div class="link-container">
        <a href="/" class="home-page" target="_self">Go to main</a>
    </div>
</html>