{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <title>Jaram Academy Attendance System</title>
        <link rel="stylesheet" href="{% static 'css/404.css' %}">
    </head>
    <h1>404 Page Not Found</h1>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>4</span>

    </section>
    <div class="link-container">
        <a target="_blank" href="/" class="home-page" target="_self">Go to main</a>
    </div>
</html>