<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Jaram Academy Attendance System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.webmanifest">
        <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div>
            <h1><a href="">Jaram Academy Attendance System</a></h1>
        </div>
        <div>
            <h3>Ranking</h3>
        </div>
        <table class="table table-striped">
            <thead>
            <!-- <tr> 가로줄 만드는 역할 -->
            <!-- <td> 는 셀을 만드는 역할... -->
            <tr>
                <td><b>등수</b></td>
                <td><b>이름</b></td>
                <td><b>출석한 횟수</b></td>
                <td><b>마지막 출석일</b></td>
            </tr>
            </thead>
            <tbody>
                <script>var num = 1;</script>
                {% for member in member_lists %}
                <tr>
                    <td><script>document.write(num);</script></td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.atd_checked }}</td>
                    <td>{{ member.last_checked }}</td>
                    <script>num++;</script>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="/ranking">더보기</a>
        </div>
        <div>
            <a href="{% url 'logout' %}">로그아웃</a>
        </div>
        <div>
            {% csrf_token %}
        </div>
    </body>
</html>