{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Jaram Academy Attendance System</title>
        <meta charset="utf-8">
        
        <!-- Bootstrap import -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        
        <!-- Favicon and Etc... -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.webmanifest">
        <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{% static 'css/atd_ranking.css' %}">
    </head>
    <body>
        <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
            <header class="bmd-layout-header">
                <div class="navbar">
                    <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-p3">
                        <span class="sr-only">Toggle drawer</span>
                        <i class="material-icons">menu</i>
                    </button>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" id="ranking">Registration</a>
                        </li>
                    </ul>
                </div>
            </header>
            <div id="dw-p3" class="bmd-layout-drawer">
                <ul class="list-group">
                    <a class="list-group-item" href="/main/">Home</a>
                    <a class="list-group-item" href="https://jaram.net/">Jaram</a>
                    <a class="list-group-item" href="https://github.com/Keunmo/jaram-attendance/">Github</a>
                    <a class="list-group-item" href="https://github.com/Keunmo/jaram-attendance/blob/master/LICENSE">License</a>
                    <a class="list-group-item">Contact Us</a>
                </ul>
            </div>
            <main class="bmd-layout-content">
                <div class="container">
                    <div>
                        <h1>Registration Complete!</h1>
                    </div>
                    <div>
                        <a href="/" class="btn btn-primary btn-raised" id="go-home" role="button">Go to Main</a>
                    </div>
                </div>
            </main>
        </div>
    </body>
    <!-- Bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</html>