{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Jaram Academy Attendance System</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/welcome.css' %}">

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    </head>
    <body>
        <div id='container'>
            <h1>
                Welcome, {{ name }}.
            </h1>
            <div >
            </div>
        </div>
    </body>
</html>